# Step 1: Extract

In [1]:
import pandas as pd

## Extract data from CSV

In [3]:
productsDF = pd.read_csv("products_data.csv")
ordersDF = pd.read_csv("orders_data.csv")
usersDF = pd.read_csv("users_data.csv")

## Extract data from XLSX

In [4]:
paymentsDF = pd.read_excel("payments_data.xlsx")
reviewsDF = pd.read_excel("reviews_data.xlsx")

# Step 2: Transform

## Fill missing values

As needed

In [5]:
productsDF = productsDF.fillna({
    "Description": "No description available",
    "Category": "Miscellaneous",
})

ordersDF = ordersDF.fillna({
    "TotalAmount": 0.0
})

paymentsDF = paymentsDF.fillna({
    "PaymentMethod": "Unknown",
    "Amount": 0.0,
    "PaymentDate": pd.Timestamp("1970-01-01")
})

In [6]:
paymentsDF

    OrderID  PaymentMethod PaymentDate  Amount
0      1001  InvalidMethod  1970-01-01    0.00
1      1002    Credit Card  2024-08-02  753.48
2      1003    Credit Card  2024-08-03  978.27
3      1004  InvalidMethod  2024-08-04  564.67
4      1005    Credit Card  2024-08-05  390.66
5      1006    Credit Card  1970-01-01  815.67
6      1007  InvalidMethod  2024-08-07  343.75
7      1008    Credit Card  2024-08-08  495.07
8      1009    Credit Card  2024-08-09  170.61
9      1010  InvalidMethod  2024-08-10  122.82
10     1011    Credit Card  1970-01-01    0.00
11     1012    Credit Card  2024-08-12  966.38
12     1013  InvalidMethod  2024-08-13  852.38
13     1014    Credit Card  2024-08-14  726.38
14     1015    Credit Card  2024-08-15  468.06
15     1016  InvalidMethod  1970-01-01  255.96
16     1017    Credit Card  2024-08-17  240.79
17     1018    Credit Card  2024-08-18  325.22
18     1019  InvalidMethod  2024-08-19  594.30
19     1020    Credit Card  2024-08-20  743.14
20     1021    Credit Card  1970-01-01    0.00
21     1022  InvalidMethod  2024-08-22  694.18
22     1023    Credit Card  2024-08-23  351.94
23     1024    Credit Card  2024-08-24  959.38
24     1025  InvalidMethod  2024-08-25  764.11
25     1026    Credit Card  1970-01-01  598.92
26     1027    Credit Card  2024-08-27  650.55
27     1028  InvalidMethod  2024-08-28  477.64
28     1029    Credit Card  2024-08-29  322.96
29     1030    Credit Card  2024-08-30  420.38
30     1031  InvalidMethod  1970-01-01    0.00
31     1032    Credit Card  2024-09-01  782.06
32     1033    Credit Card  2024-09-02  112.95
33     1034  InvalidMethod  2024-09-03  204.47
34     1035    Credit Card  2024-09-04  141.40
35     1036    Credit Card  1970-01-01  136.66
36     1037  InvalidMethod  2024-09-06  869.91
37     1038    Credit Card  2024-09-07  733.29
38     1039    Credit Card  2024-09-08  526.76
39     1040  InvalidMethod  2024-09-09  188.05
40     1041    Credit Card  1970-01-01    0.00
41     1042    Credit Card  2024-09-11  542.45
42     1043  InvalidMethod  2024-09-12  526.12
43     1044    Credit Card  2024-09-13  255.88
44     1045    Credit Card  2024-09-14  490.47
45     1046  InvalidMethod  1970-01-01  458.65
46     1047    Credit Card  2024-09-16  654.27
47     1048    Credit Card  2024-09-17  671.58
48     1049  InvalidMethod  2024-09-18  140.77
49     1050    Credit Card  2024-09-19  437.15
50     1051    Credit Card  1970-01-01    0.00
51     1052  InvalidMethod  2024-09-21  663.27
52     1053    Credit Card  2024-09-22  552.82
53     1054    Credit Card  2024-09-23  870.84
54     1055  InvalidMethod  2024-09-24  692.82
55     1056    Credit Card  1970-01-01  246.64
56     1057    Credit Card  2024-09-26  163.51
57     1058  InvalidMethod  2024-09-27  678.18
58     1059    Credit Card  2024-09-28  123.86
59     1060    Credit Card  2024-09-29  627.20

## Handle invalid emails

In the *Users* DataFrame

In [7]:
def generate_unique_email(index):
    return f"unknown{index}@example.com"

In [8]:
usersDF["Email"] = usersDF.apply(lambda row: row["Email"] if "@" in row["Email"] and "." in row["Email"] else generate_unique_email(row.name), axis=1)

- `usersDF.apply(..., axis=1)`:<br>
This applies a function row-wise across the DataFrame usersDF. Each row is passed to the `lambda` function.<br>
- `lambda row: ...`:<br>
This is an anonymous function that takes a row as input.<br>
- `row["Email"] if "@" in row["Email"] and "." in row["Email"]`:<br>
Checks if the email in the current row contains both "@" and ".", which are basic indicators of a valid email format.<br>
The lambda function checks whether the existing email value in `row["Email"]` contains both "@" and ".".<br>
If both conditions are met, it leaves the existing value unchanged â€” meaning it assumes the email is valid and keeps it as-is.<br>
Only if either condition fails (i.e., the email is missing "@" or "."), it replaces the value by calling `generate_unique_email(row.name)`.<br>
So the logic is essentially:
```
if "@" in email and "." in email:
    keep the email
else:
    generate a new one
```
- `else generate_unique_email(row.name)`:<br>
If the email is missing either "@" or ".", it calls a function `generate_unique_email()` using the row's index (`row.name`) to generate a new email.<br>
- `usersDF["Email"] = ...`:<br>
The result of the apply is assigned back to the *Email* column, effectively cleaning or replacing invalid emails.

## Ensure all prices are numeric

In [9]:
productsDF["Price"] = pd.to_numeric(productsDF["Price"], errors="coerce").fillna(0.0).round(2)

## Ensure all stock quantities are numeric

In [10]:
productsDF["StockQuantity"] = pd.to_numeric(productsDF["StockQuantity"], errors="coerce").fillna(0).astype(int)

In [11]:
productsDF

,ProductName,Description,Price,StockQuantity,Category
0,Contraption A,No description available,0.00,0,Miscellaneous
1,Tool B,A high-quality tool.,230.23,160,Apparatus
2,Machine C,A high-quality apparatus.,56.75,96,Apparatus
3,Device D,No description available,191.70,472,Widgets
4,Contraption E,A high-quality gadget.,337.73,233,Instruments
5,Appliance F,A high-quality appliance.,336.30,180,Miscellaneous
6,Gizmo G,No description available,299.74,113,Apparatus
7,Contraption H,A high-quality gadget.,144.61,318,Gizmos
8,Machine I,A high-quality appliance.,285.01,0,Tools
9,Device J,No description available,197.63,497,Tools
10,Tool K,A high-quality tool.,0.00,442,Miscellaneous
11,Machine L,A high-quality machine.,486.14,52,Gizmos
12,Machine M,No description available,425.97,268,Appliances
13,Gizmo N,A high-quality contraption.,363.65,295,Gizmos
14,Apparatus O,A high-quality instrument.,125.63,386,Gizmos
15,Device P,No description available,135.47,387,Miscellaneous
16,Gadget Q,A high-quality machine.,29.81,0,Tools
17,Machine R,A high-quality device.,358.22,113,Contraptions
18,Apparatus S,No description available,64.34,101,Tools
19,Gadget T,A high-quality gadget.,225.27,113,Instruments
20,Device U,A high-quality device.,0.00,440,Miscellaneous
21,Widget V,No description available,108.84,81,Widgets
22,Appliance W,A high-quality machine.,448.92,187,Machines
23,Apparatus X,A high-quality appliance.,242.93,113,Contraptions
24,Instrument Y,No description available,286.01,0,Gadgets
25,Widget Z,A high-quality instrument.,350.80,2,Miscellaneous
26,Appliance A,A high-quality instrument.,78.27,130,Machines
27,Gizmo B,No description available,306.16,220,Widgets
28,Contraption C,A high-quality widget.,274.52,54,Instruments
29,Tool D,A high-quality instrument.,109.50,343,Instruments
30,Instrument E,No description available,0.00,485,Miscellaneous
31,Gizmo F,A high-quality contraption.,472.00,224,Gadgets
32,Device G,A high-quality instrument.,303.44,0,Contraptions
33,Gizmo H,No description available,350.44,225,Appliances
34,Contraption I,A high-quality machine.,441.43,385,Gizmos
35,Device J,A high-quality widget.,315.93,403,Miscellaneous
36,Instrument K,No description available,154.86,126,Contraptions
37,Contraption L,A high-quality machine.,61.69,130,Appliances
38,Gadget M,A high-quality machine.,233.70,53,Instruments
39,Tool N,No description available,117.04,172,Tools
40,Instrument O,A high-quality gizmo.,0.00,0,Miscellaneous
41,Gadget P,A high-quality widget.,214.09,218,Widgets
42,Appliance Q,No description available,442.81,160,Gadgets
43,Instrument R,A high-quality machine.,168.93,198,Widgets
44,Appliance S,A high-quality gizmo.,69.82,416,Devices
45,Device T,No description available,184.59,247,Miscellaneous
46,Gadget U,A high-quality gizmo.,454.35,324,Devices
47,Tool V,A high-quality widget.,143.34,439,Contraptions
48,Contraption W,No description available,327.37,0,Instruments
49,Machine X,A high-quality device.,10.25,203,Instruments
50,Gizmo Y,A high-quality appliance.,0.00,184,Miscellaneous
51,Widget Z,No description available,182.76,123,Gizmos
52,Tool A,A high-quality contraption.,159.34,401,Gizmos
53,Gadget B,A high-quality appliance.,90.68,255,Gizmos
54,Machine C,No description available,271.70,294,Tools
55,Tool D,A high-quality instrument.,247.57,280,Miscellaneous
56,Gadget E,A high-quality contraption.,349.29,0,Machines
57,Apparatus F,No description available,142.01,325,Apparatus
58,Apparatus G,A high-quality instrument.,129.62,372,Machines
59,Appliance H,A high-quality machine.,92.46,98,Widgets

## Standardize and convert date formats to string

In [12]:
ordersDF["OrderDate"] = pd.to_datetime(ordersDF["OrderDate"],
                                       errors="coerce",
                                       format="%Y-%m-%d").fillna(pd.Timestamp("1970-01-01"))
ordersDF["OrderDate"] = ordersDF["OrderDate"].dt.strftime("%Y-%m-%d")

paymentsDF["PaymentDate"] = pd.to_datetime(paymentsDF["PaymentDate"],
                                       errors="coerce",
                                       format="%Y-%m-%d").fillna(pd.Timestamp("1970-01-01"))
paymentsDF["PaymentDate"] = paymentsDF["PaymentDate"].dt.strftime("%Y-%m-%d")

1. `pd.to_datetime(...)`<br>
This function converts strings or other date-like objects into pandas `datetime` objects. It's essential because:
    - It standardizes various date formats into a consistent datetime format.
    - It enables datetime operations like filtering by date, extracting year/month/day, sorting chronologically, etc.
`errors='coerce'` ensures that invalid date strings are converted to `NaT` (Not a Time), which are then replaced by '1970-01-01' using `.fillna(...)`.<br>

2. `.dt.strftime('%Y-%m-%d')`
After converting to datetime, this step formats the datetime objects back into strings in a specific format (YYYY-MM-DD). This is useful when:
    - You want to export or display the dates in a human-readable format.
    - **You need to ensure consistent string formatting for downstream systems or reports**.<br>

Why not just use one?<br>
If you skip `to_datetime()` and go straight to formatting, you risk:
- Misinterpreting date strings (e.g., '01-02-2023' could be Jan 2 or Feb 1 depending on locale).
- Losing the ability to handle invalid dates cleanly.
- Not being able to use datetime-specific operations before formatting.

# Step 3: Load

## Connect to MySQL database

In [13]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySql",
    database="ecommerce_db"
)
cursor = conn.cursor()